/* estilos generales*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/*contenedor de la app*/

.app {
  text-align: center;
  padding: 20px;
}

/*estilos para el Header*/

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  color: rgb(57, 57, 57);
}

/*estilos para el form */

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/*estilos para gallery */

.image__gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilo de cada tarjeta de imagen */
.image__card {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 200px; /* Ancho fijo */
}

/* Estilo de las imágenes */
.image__card img {
  width: 100%; /* Las imágenes ocupan el 100% del ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilo del título de cada imagen */
.image__card h3 {
  margin: 10px;
  font-size: 1.2rem;
  color: #333;
}
